@model RazorProject.Models.PlayerViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <h1>{@Model.Player.Name}  you registered succesfully </h1>



</body>
</html>
